/* Register Page CSS Entry Point */
@import url('./components/container.css');
@import url('./components/brand.css');
@import url('./components/form.css');
@import url('./components/button.css');
@import url('./components/alert.css');
@import url('./components/responsive.css');

