:root {
    /* Tema Renkleri ve Değişkenler */
    --primary-color: #333333;
    --secondary-color: #555555;
    --accent-color: #777777;
    --light-bg: #ffffff;
    --light-text: #333333;
    --light-text-muted: #666666;
    --dark-bg: #121212;
    --dark-text: #e9ecef;
    --dark-text-muted: #adb5bd;
    --box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    --dark-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
    --transition-speed: 0.3s;
    --font-header: 'Montserrat', sans-serif;
    --font-body: 'Inter', sans-serif;
}

body {
    font-family: var(--font-body);
    padding-top: var(--navbar-height); /* Sabit navbar için boşluk */
    background-color: var(--light-bg);
    color: var(--light-text);
    transition: background-color var(--transition-speed) ease, color var(--transition-speed) ease;
}

/* --- Genel Stiller --- */
.btn {
    border-radius: 50px;
    padding: 10px 25px;
    font-weight: 600;
    border: none;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

/* Yeni Tema Değiştirme Düğmesi */
.theme-switch-wrapper {
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 2px;
}

/* Yeni tema değiştirme düğmesi stilleri */
#theme-toggle-container {
    position: relative;
    width: 60px;
    height: 30px;
    overflow: hidden;
    border-radius: 30px;
}

#theme-toggle-container svg {
    transform: scale(0.15);
    z-index: 2;
    pointer-events: none;
    position: absolute;
    top: -69px;
    left: -153px;
}

#day, #night {
    width: 60px;
    height: 30px;
    position: absolute;
    z-index: 1;
    cursor: pointer;
    border-radius: 30px;
    background: #9cd6ef;
    border: 2px solid #65c0e7;
    top: 0;
    left: 0;
}

#night {
    pointer-events: none;
}

#background {
    width: 100%;
    height: 100%;
    position: absolute;
    background: #d3edf8;
    z-index: -1;
    top: 0;
    left: 0;
    border-radius: 30px;
}

/* --- KOYU TEMA --- */
body.dark-theme {
    background-color: var(--dark-bg);
    color: var(--dark-text);
}

/* Koyu tema için yeni tema değiştirme düğmesi */
.dark-theme #night {
    background: #224f6d;
    border-color: #cad4d8;
}

.dark-theme #background {
    background-color: #0d1f2b;
}

