<header>
    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container position-relative">
            <!-- Logo (Sol) -->
            <a href="{{ url_for('index') }}" class="navbar-brand">BEATIFY</a>
            
            <!-- Mobil Menü Butonu -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarNav">
                <!-- Menü Öğeleri (Orta) -->
                <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link particle-button active" aria-current="page" href="{{ url_for('index') }}">ANASAYFA</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link particle-button" href="{{ url_for('spotify_widget_bp.widget_manager') }}">WIDGET STUDIO</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link particle-button" href="{{ url_for('docs') }}">DÖKÜMANTASYON</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link particle-button" href="{{ url_for('changelog') }}">YENİLİKLER</a>
                    </li>
                </ul>
            </div>
            
            <!-- Sağ taraf için ayrı bir div -->
            <div class="navbar-right-elements d-flex align-items-center">
                <!-- Giriş / Profil Butonu (Particle Efekti) -->
                <div class="login-item">
                    {% if session.get('logged_in') and session.get('username') %}
                        <a href="{{ url_for('profile') }}" class="particle-button">
                            PROFİL
                            <span class="particle-button-text"></span>
                        </a>
                    {% else %}
                        <a href="{{ url_for('login') }}" class="particle-button">
                            GİRİŞ YAP
                            <span class="particle-button-text"></span>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
</header>
