{%extends "base.html"%}

{%block style%}
{%endblock style%}

{%block head%}
    <!-- page name -->
    <title>Beatify</title>
{%endblock head%}

{%block preloader%}
        <!-- preloader
        <div class="mil-preloader">
            <div class="mil-preloader-animation">
                <div class="mil-pos-abs mil-animation-1">
                    <p class="mil-h3 mil-muted mil-thin">Ritmi</p>
                    <p class="mil-h3 mil-muted">Hisset</p>
                    <p class="mil-h3 mil-muted mil-thin">Yönet</p>
                </div>
                <div class="mil-pos-abs mil-animation-2">
                    <div class="mil-reveal-frame">
                        <p class="mil-h3 mil-muted mil-thin">beatify.com</p>
                    </div>
                </div>
            </div>
        </div>
        preloader end -->
{%endblock preloader%}
        {%block content%}

        <!-- content -->
        <div class="mil-content">

                <!-- banner -->
                <section class="mil-banner mil-dark-bg">

                    <div class="mi-invert-fix">

                        <div class="mil-animation-frame">
                            <div class="mil-animation mil-position-1 mil-scale" data-value-1="7" data-value-2="1.6"></div>
                            <div class="mil-animation mil-position-2 mil-scale" data-value-1="4" data-value-2="1"></div>
                            <div class="mil-animation mil-position-3 mil-scale" data-value-1="1.2" data-value-2=".1"></div>
                        </div>

                        <div class="container">

                            <div class="row">

                                <div class="col-xl-5 col-sm-12">
                                    <div class="mil-banner-content mil-up d-flex align-items-center">
                                        <div class="mil-wrapper overflow-show">
                                            <h1 class="mil-muted mil-mb-30">Ritmi <span class="mil-thin">Hisset</span><br> Müziği <span class="mil-thin">Yönet</span></span></h1>
                                        <div class="row">
                                            <div class="col-md-7 col-lg-12">
                                                <p class="mil-light-soft mil-mb-60">Beatify, müzik tutkunları ve yayıncılar için Spotify ve Twitch entegrasyonlarıyla müzik yönetimini kolaylaştırıyor.<br>Çalma listelerini düzenleme, yapay zeka destekli müzik önerileri alma ve Twitch botu ile izleyicilerle etkileşim kurma imkanı sunuyor. Widget desteği sayesinde çalan şarkılar OBS gibi platformlarda paylaşılabiliyor.<br>Müziği daha akıllı ve etkileşimli hale getiren Beatify ile tanışın!</p>
                                            </div>
                                        </div>
                                        {%if not session.get('logged_in')%}
                                        <a href="login" class="mil-button mil-arrow-place mil-btn-space">
                                            <span>Giriş Yap & Kayıt Ol</span>
                                        </a>
                                        {%else%}
                                        <a href="profile" class="mil-button mil-arrow-place mil-btn-space">
                                            <span>Yönetim Paneline Git</span>
                                        </a>
                                        {%endif%}
                                        <a href="portfolio-1.html" class="mil-link mil-muted mil-arrow-place">
                                            <span>Uygulamaları Görüntüle</span>
                                        </a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xl-7">
                                    <div class="mil-banner-content mil-up">
                                        <div class="beatify-banner-image-frame">
                                            <img src="/static/img/photo/Flux_Dev_Design_a_futuristic_whiteskinned_female_DJ_with_shoul_3 (1).jpeg" alt="banner" class="beatify-banner-image">
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </section>
                <!-- banner end -->

            </div>
        </div>
            {%endblock content%}