{% extends "base.html" %}

{% block head_content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index/index.css') }}">
{% endblock %}

{% block title %}Anasayfa{% endblock %}

{% block content %}
<div class="content-wrapper">
    <div class="banner-container">
        <div class="cover-container">
            <main class="hero-main">
                <h1 class="display-4 fw-bold">Müziğin Ritmini Yeniden Keşfet</h1>
                <p class="lead col-lg-8 mx-auto">
                    Beatify ile çalma listelerinizi yönetin, yeni sanatçılar keşfedin ve müziğin keyfini premium bir deneyimle çıkarın.
                </p>
                <div class="cta-button-wrapper">
                    <a href="{{ url_for('login') }}" class="app-cta-button" data-colors="#1DB954,#1ED760,#FFFFFF">
                        <span class="app-cta-button-text">Hemen Başla</span>
                    </a>
                </div>
            </main>
        </div>
    </div>
</div>
{% endblock %}
